<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TreeCmp: Comparison of Phylogenetic Trees in Polynomial Time - Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" th:href="@{css/treecmp.css}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/jquery.tablesorter.js"></script>

    <script type="text/javascript">

        var reportSaved = true;

        $(function() {
            $("#reportTable").tablesorter();
        });

        window.onbeforeunload = function(e) {
            if (reportSaved == true){
                var dialogText = 'Unsaved report. Do you want to leave this site?';
                e.returnValue = dialogText;
                return dialogText;
            }
            else {
                return null;
            }
        };

        function saveReport() {
            reportSaved = null;
        }

    </script>

</head>
<body>
<div class="container-fluid">
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#mainmenu"
                        aria-expanded="false">
                    <span class="sr-only">Navigation switch</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://eti.pg.edu.pl/treecmp/">
                    <img alt="TreeCmp" src="img/treecmp_logo.jpg" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="mainmenu">
                <ul class="nav navbar-nav">
                    <li><a href="WEB">Main page</a></li>
                    <li class="active"><a href="report">Report</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="manual.html"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></li>
                    <li><a href="about.html"><span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END OF NAVIGATION BAR -->
    <div class="form-group" >
        <div th:utext="*{report}" />
        <div th:each="metric, stat : ${metrics}">
            <div th:utext="${metric}" />
        </div>
    </div>
    <button class="btn btn-primary" onclick="saveReport()" >Save report</button>
</div>
<!-- FOOTER -->
<div class="row footer">
    <div class="col-xs-12 text-center">
        Gdansk University of Technology &copy; 2017
    </div>
</div>
<!-- END OF FOOTER -->
</body>

<script type="text/javascript">

    /*<![CDATA[*/

    $(window).resize(function(){
        if ($(window).width() >= 768){
            $("#reportTable").removeClass("table-condensed");
        }
        if ($(window).width() <= 768){
            $("#reportTable").addClass("table-condensed");
        }
    });

    /*]]>*/

</script>

</html>